.add-user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 8px;
}

.content-breadcrumb {
  display: flex;
}

.content-breadcrumb li {
  margin-left: 12px;
}

.add-user-main {
  border-radius: 8px;
  margin-top: 12px;
  padding: 12px 20px;
}

.btn-create-user {
  padding: 6px 12px;
}
